html { 
	height: 100% 
}
body { 
	height: 100%; 
	margin: 0; 
	padding: 0;
	background-color:#f9f6f2;
	color:#555;
	font-family:Georgia, "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
h1{
	margin: 0 auto 10px auto;
}
#interactive{
	height:80px;
	margin: 0 auto 10px auto;
	padding: 20px;
}
#map_canvas { 
	height: 100%;
	margin:0 auto;
	bottom:0;
}