/*color consultants:
http://kuler.adobe.com/
http://0to255.com/
http://www.color-hex.com/

css3 consultants:
http://css3generator.com/
http://lab.simurai.com/css/carveme/
*/

html {
	background: url('../img/project_papper.png');
	/*background-color:#B29C85;*/
}
body {
	height:100%;
	margin:0 auto;
	font-family: 'Open Sans', sans-serif;
	color:#3B424C;
}
h1, h2, h3, p, a{
	margin:0;
}
h1,h2 {
	text-shadow: 1px 1px 1px #fff;
	filter: dropshadow(color=#fff, offx=1, offy=1);
}
h3,p{
	cursor:pointer;
}
h1 {
	font-size:30px;
	font-weight:600;
	color:#306E73;
	
	-webkit-text-stroke: 0;
	color: transparent;
	-webkit-background-clip: text;
	background-color: rgba(48,110,115,0.9);
	text-shadow: rgba(255,255,255,0.5) 0 5px 6px, rgba(255,255,255,0.2) 1px 3px 3px;

}
h2 {
	font-size:60px;
	font-weight:300px;
	color:#306E73;
	
	-webkit-text-stroke: 0;
	color: transparent;
	-webkit-background-clip: text;
	background-color: rgba(48,110,115,1);
	text-shadow: rgba(255,255,255,0.5) 0 5px 6px, rgba(255,255,255,0.2) 1px 3px 3px;

}
h3 {
	font-size:16px;
	font-weight:400;
	color:#3B424C;
}
h4 {
	font-size:18px;
	font-weight:400;
}
p {
	font-size:14px;
	font-weight:300;
	display:inline;
}
a {
	font-size:14px;
	font-weight:300;
}
span {
	font-family:'Calligraffitti', cursive;
}
nav {
	margin:0 auto 20px auto;
	padding-top:26px;
}
#navWrapper {
	width:960px;
	margin:0 auto 20px auto;
}
#main {
	width:960px;
	height:90%;
	margin:-50px auto 0 auto;
	padding-top:50px;
}
#intro h2 {
	text-align:center;
}
#regForm {
	margin-top:50px;
}
#regForm input {
	border:none;
	width:300px;
	height:20px;
	margin:0 auto 20px auto;
	padding:5px;
	text-align:center;
	color:#333;
	font-size:12px;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	
	-webkit-box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}
#regForm ul {
	width:300px;
	margin:0 auto;
	
}
#regForm ul li {
	list-style:none;
	margin:0 auto 0 -34px;
}
#start{
	position:absolute;
	color:#FF5335;
	width:960px;
	margin:0 auto;
	font-size:50px;
	text-align:center;
}
span.replay {
	color:#FF5335;
	margin-right:3px;
}
#start:hover, span.replay:hover {
	color:#ff8d79;
}
#start span {
	background-color: rgba(59, 66, 76, 0.2);
	padding: 0.4px 20px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-webkit-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.3);
}
#register {
	float: right;
	margin-top:-34px;
}
section {
	/*background-color:#f00;*/
	width:960px;
	height:400px;
	margin:36px auto 0 auto;
	overflow:hidden;
}
#flow {
	display:none;
}
.question {
	/*background-color:rgba(255,255,255,1);*/
	display: none;
	margin:10px auto;
	left:0;
	padding:0 50px;
	width:860px;
	height:500px;
	float:left;
	
}
.question h4 {
	background-color:rgba(59,66,76,0.4);
	color:#fff;
	margin: 20px auto 0 auto;
	text-align: center;	
	width: 300px;
	height:50px;
	padding: 20px;

/*	border:1px dashed #000;*/
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	
	-webkit-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.3);
}
.arrow{
	display:none;
}
p.arrow {
	margin-top:30px;
	background-color:rgba(94,181,188,0.5);
	color:#3B424C;
	padding:20px;
	
/*	border:1px dashed #000;*/
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	
	-webkit-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.3);
}
p.arrow:hover {
	background-color:rgba(94,181,188,0.5);
	color:#3B424C;
}
.left {
/*	width:470px;
	float:left;
	text-align:right;*/
	
	width: 198px;
	float: left;
	text-align: center;
}
.right {
/*	width:470px;
	float:right;
	text-align:left;*/
	width: 198px;
	float: right;
	text-align: center;
}
.answer{
	display: none;
	margin:10px auto;
	left:0;
	width:960px;
	height:500px;
	float:left;

}
.answer h4 {
	background-color:rgba(48,110,115,0.6);
	color:#fff;
	margin: 20px auto 0 auto;
	text-align: center;
	font-weight:800;
	font-size:80px;
	padding: 20px;

	/*border:1px dashed #000;*/
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	
	-webkit-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.3);
}
footer {
	width:960px;
	margin:0 auto;
	padding:30px;
	text-align:right;
	/*right:0;*/
	bottom:0;
}
footer p {
	float:right;
	color:#306E73;
	margin:30px 0;
}
footer a {
	color:#306E73;
}
/*img:hover {
	zoom:110%;
}*/