body{
	width:100%;
	background-color:#fcfefa;
	color:#666;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	margin:0;
	padding:0;
}
h1{
	
}
h2{
	
}
h3{
	text-decoration:line-through;
}
h4{
	
}
p{
	display:inline;
	color:#999;
}
#wrapper{
	width:1100px;
	margin:0 auto;
}
#top{
	width:;
	/*background-color:#493e5b;*/
	margin:0;
	/*position:fixed;*/
	cursor:pointer;
}
section{
	border-bottom:1px dotted #666;
}
section ul{
	list-style:none;
}
section ul li h4{
	display:inline;
	margin-right: 40px;
}
section ul li p{
	margin-right: 40px;
}
section ul li p span{
	font-weight:bold;
	margin-right: 40px;
}
footer{
/*	position:absolute;
	bottom:0;*/
}